{% macro navbar() %}
<header class="header">
    <div class="nav-container">
        <nav class="nav">
            <a href="/" class="nav__link">
                <span class="nav__item">Home</span>
            </a>
            <a href="/games" class="nav__link">
                <span class="nav__item">Games</span>
            </a>
            <a href="/customers" class="nav__link">
                <span class="nav__item">Customers</span>
            </a>
            <a href="/reviews" class="nav__link">
                <span class="nav__item">Reviews</span>
            </a>
            <a href="/orders" class="nav__link">
                <span class="nav__item">Orders</span>
            </a>
        </nav>
    </div>
</header>
{% endmacro %}