{% from "macros/nav.html" import navbar %}

<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/customers.css') }}">
        <title>Customers Page</title>
    </head>
    <body>
        {{ navbar() }}

        <h1>Customers:</h1>
        <table>
            <tr>
                <th>CustomerID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            {% for customerInfo in results %}
                <tr>
                    <td>{{customerInfo['customerID']}}</td>
                    <td>{{customerInfo['first_name']}}</td>
                    <td>{{customerInfo['last_name']}}</td>
                    <td>{{customerInfo['email']}}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>