{% from "macros/nav.html" import navbar %}

<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/games.css') }}">
    <title>Games Page</title>
</head>
<body>
    {{ navbar() }}

    <h1>Games:</h1>
    <table>
        <tr>
            <th>GameID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        {% for gameInfo in results %}
            <tr>
                <td>{{gameInfo['gameID']}}</td>
                <td>{{gameInfo['name']}}</td>
                <td>{{gameInfo['price']}}</td>
            </tr>
        {% endfor %}
    </table>

    <br>

    <!-- INSERT form -->
    <form>
        <input type="submit" value="INSERT">

        <label for="insert_Name">Name:</label>
        <input type="text" id="insert_Name" placeholder="Name...">

        <label for="insert_Price">Price:</label>
        <input type="text" id="insert_Price" placeholder="Price...">
    </form>

    <br>

    <!-- UPDATE form-->
    <form>
        <input type="submit" value="UPDATE">

        <label for="update_GameID">GameID:</label>
        <select id="update_GameID">
            {% for gameInfo in results %}
                <option value={gameInfo['gameID']}}>{{gameInfo['gameID']}}</option>
            {% endfor %}
        </select>

        <label for="update_Attributes">Attribute:</label>
        <select id="update_Attributes">
            {% for attribute in results[0].keys() %}
                {% if not loop.first %} {# Skip the first attribute (gameID)#}
                    <option value={{attribute}}>{{attribute}}</option>
                {% endif %}
            {% endfor %}
        </select>

        <label for="update_NewValue">New Value:</label>
        <input type="text" id="update_NewValue" placeholder="New Value...">
    </form>

    <br>

    <!-- DELETE form-->
    <form>
        <input type="submit" value="DELETE">

        <select id="delete_GameID">
            {% for gameInfo in results %}
                <option value={gameInfo['gameID']}}>{{gameInfo['gameID']}}</option>
            {% endfor %}
        </select>
    </form>
    
</body>
</html>