{% from "macros/nav.html" import navbar %}

<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/gameOrders.css') }}">
        <title>GameOrders Page</title>
    </head>
    <body>
        {{ navbar() }}

        <h1>GameOrders:</h1>
        <table>
            <tr>
                <th>GameOrderID</th>
                <th>GameID</th>
                <th>SaleOrderID</th>
                <th>Discount</th>
            </tr>
            {% for gameOrderInfo in results %}
                <tr>
                    <td>{{gameOrderInfo['gameOrderID']}}</td>
                    <td>{{gameOrderInfo['gameID']}}</td>
                    <td>{{gameOrderInfo['saleOrderID']}}</td>
                    <td>{{gameOrderInfo['discount']}}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>