{% from "macros/nav.html" import navbar %}

<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/orders.css') }}">
        <title>Orders Page</title>
    </head>
    <body>
        {{ navbar() }}

        <div class="column">
            <h1>SaleOrders:</h1>
            <table>
                <tr>
                    <th>SaleOrderID</th>
                    <th>CustomerID</th>
                    <th>Date</th>
                </tr>
                {% for saleOrderInfo in saleOrdersResults %}
                    <tr>
                        <td>{{saleOrderInfo['saleOrderID']}}</td>
                        <td>{{saleOrderInfo['customerID']}}</td>
                        <td>{{saleOrderInfo['date']}}</td>
                    </tr>
                {% endfor %}
            </table>

            <br>

            <!-- INSERT form -->
            <form>
                <input type="submit" value="INSERT">

                <label for="insert_CustomerID">CustomerID:</label>
                <input type="text" id="insert_CustomerID" placeholder="CustomerID...">

                <label for="insert_Date">Date:</label>
                <input type="text" id="insert_Date" placeholder="Date... YYYY/MM/DD">
            </form>

            <br>

             <!-- UPDATE form-->
            <form>
                <input type="submit" value="UPDATE">

                <label for="update_SaleOrderID">SaleOrderID:</label>
                <select id="update_SaleOrderID">
                    {% for saleOrderInfo in saleOrdersResults %}
                        <option value={saleOrderInfo['saleOrderID']}}>{{saleOrderInfo['saleOrderID']}}</option>
                    {% endfor %}
                </select>

                <label for="update_NewCustomerID">New CustomerID:</label>
                <input type="text" id="update_NewCustomerID" placeholder="New CustomerID...">
            </form>

        </div>
        
        <div class="column">
            <h1>GameOrders:</h1>
            <table>
                <tr>
                    <th>GameOrderID</th>
                    <th>GameID</th>
                    <th>SaleOrderID</th>
                    <th>Discount</th>
                </tr>
                {% for gameOrderInfo in gameOrdersResults %}
                    <tr>
                        <td>{{gameOrderInfo['gameOrderID']}}</td>
                        <td>{{gameOrderInfo['gameID']}}</td>
                        <td>{{gameOrderInfo['saleOrderID']}}</td>
                        <td>{{gameOrderInfo['discount']}}</td>
                    </tr>
                {% endfor %}
            </table>

            <br>

            <!-- INSERT form -->
            <form>
                <input type="submit" value="INSERT">

                <label for="insert_GameID">GameID:</label>
                <input type="text" id="insert_GameID" placeholder="GameID...">

                <label for="insert_SaleOrderID">SaleOrderID:</label>
                <input type="text" id="insert_SaleOrderID" placeholder="SaleOrderID...">

                <label for="insert_Discount">Discount:</label>
                <input type="text" id="insert_Discount" placeholder="Discount...">
            </form>

        </div>
    </body>
</html>