{% from "macros/nav.html" import navbar %}

<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/orders.css') }}">
        <title>Orders Page</title>
    </head>
    <body>
        {{ navbar() }}

        <div class="column">
            <h1>SaleOrders:</h1>
            <table>
                <tr>
                    <th>SaleOrderID</th>
                    <th>Customer</th>
                    <th>Date</th>
                </tr>
                {% for saleOrderInfo in saleOrdersResults %}
                    <tr>
                        <td>{{saleOrderInfo['saleOrderID']}}</td>
                        <td>{{saleOrderInfo['first_name'] + ' ' + saleOrderInfo['last_name']}}</td>
                        <td>{{saleOrderInfo['date']}}</td>
                    </tr>
                {% endfor %}
            </table>

            <br>

            <!-- INSERT form -->
            <form>
                <input type="submit" value="INSERT">

                <select id="insert_CustomerID">
                    {% for customerInfo in orderedCustomers %}
                        <option value={customerInfo['customerID']}}>{{customerInfo['Customer_Name']}}</option>
                    {% endfor %}
                </select>

                <label for="insert_Date">Date:</label>
                <input type="text" id="insert_Date" placeholder="Date... YYYY/MM/DD">
            </form>
        </div>
        
        <div class="column">
            <h1>GameOrders:</h1>
            <table>
                <tr>
                    <th>GameOrderID</th>
                    <th>SaleOrderID</th>
                    <th>Game</th>
                    <th>Discount</th>
                </tr>
                {% for gameOrderInfo in gameOrdersResults %}
                    <tr>
                        <td>{{gameOrderInfo['gameOrderID']}}</td>
                        <td>{{gameOrderInfo['saleOrderID']}}</td>
                        <td>{{gameOrderInfo['name']}}</td>
                        <td>{{gameOrderInfo['discount']}}</td>
                    </tr>
                {% endfor %}
            </table>

            <br>

            <!-- INSERT form -->
            <form>
                <input type="submit" value="INSERT">

                <label for="insert_GameID">GameID:</label>
                <input type="text" id="insert_GameID" placeholder="GameID...">

                <label for="insert_SaleOrderID">SaleOrderID:</label>
                <input type="text" id="insert_SaleOrderID" placeholder="SaleOrderID...">

                <label for="insert_Discount">Discount:</label>
                <input type="text" id="insert_Discount" placeholder="Discount...">
            </form>

        </div>
    </body>
</html>