{% from "macros/nav.html" import navbar %}

<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/design.css') }}">
        <title>Orders Page</title>
    </head>
    <body>
        <h1>Indie Online Transaction Database UI</h1>
        {{ navbar() }}

        <div class="column">
            <h2>SaleOrders:</h2>
            <table>
                <tr>
                    <th>SaleOrderID</th>
                    <th>Customer</th>
                    <th>Date</th>
                </tr>
                {% for saleOrderInfo in saleOrdersResults %}
                    <tr>
                        <td>{{saleOrderInfo['SaleOrderID']}}</td>
                        <td>{{saleOrderInfo['Customer']}}</td>
                        <td>{{saleOrderInfo['Date']}}</td>
                    </tr>
                {% endfor %}
            </table>

            <br>

            <!-- INSERT form -->
            <form method="POST" action="/orders/insertSaleOrder">
                <input type="submit" value="INSERT a SaleOrder">

                <select id="insert_CustomerID" name="insert_CustomerID">
                    {% for customerInfo in orderedCustomers %}
                        <option value={{customerInfo['customerID']}}>{{customerInfo['Customer_Name']}}</option>
                    {% endfor %}
                </select>

                <label for="insert_Date">Date:</label>
                <input type="text" id="insert_Date" name="insert_Date" placeholder="Date... YYYY/MM/DD">
            </form>
        </div>
        
        <div class="column">
            <h2>GameOrders:</h2>
            <table>
                <tr>
                    <th>GameOrderID</th>
                    <th>SaleOrderID</th>
                    <th>Game</th>
                    <th>Discount</th>
                </tr>
                {% for gameOrderInfo in gameOrdersResults %}
                    <tr>
                        <td>{{gameOrderInfo['gameOrderID']}}</td>
                        <td>{{gameOrderInfo['saleOrderID']}}</td>
                        <td>{{gameOrderInfo['name']}}</td>
                        <td>{{gameOrderInfo['discount']}}</td>
                    </tr>
                {% endfor %}
            </table>

            <br>

            <!-- INSERT form -->
            <form>
                <input type="submit" value="INSERT a GameOrder">

                <label for="insert_GameID">Game:</label>
                <select id="insert_GameID">
                    {% for gameInfo in orderedGames %}
                        <option value={gameInfo['gameID']}}>{{gameInfo['name']}}</option>
                    {% endfor %}
                </select>

                <label for="insert_SaleOrderID">SaleOrderID:</label>
                <select id="insert_SaleOrderID">
                    {% for saleOrderInfo in saleOrdersResults %}
                        <option value={saleOrderInfo['SaleOrderID']}}>{{saleOrderInfo['SaleOrderID']}}</option>
                    {% endfor %}
                </select>

                <label for="insert_Discount">Discount:</label>
                <input type="text" id="insert_Discount" placeholder="Discount...">
            </form>

            <br> <br>

            <!-- UPDATE form-->
            <form>
                <input type="submit" value="UPDATE a GameOrder">

                <label for="update_GameOrderID">GameOrderID:</label>
                <select id="update_GameOrderID">
                    {% for gameOrderInfo in gameOrdersResults %}
                        <option value={gameOrderInfo['gameOrderID']}}>{{gameOrderInfo['gameOrderID']}}</option>
                    {% endfor %}
                </select>

                <label for="update_NewGameID">New Game:</label>
                <select id="update_NewGameID">
                    {% for gameInfo in orderedGames %}
                        <option value={gameInfo['gameID']}}>{{gameInfo['name']}}</option>
                    {% endfor %}
                </select>

                <label for="update_NewDiscount">New Discount:</label>
                <input type="text" id="update_NewDiscount" placeholder="New Discount...">
            </form>

        </div>
    </body>
</html>