{% from "macros/nav.html" import navbar %}

<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/reviews.css') }}">
        <title>Reviews Page</title>
    </head>
    <body>
        {{ navbar() }}

        <h1>Reviews:</h1>
        <table>
            <tr>
                <th>ReviewID</th>
                <th>Game</th>
                <th>Customer</th>
                <th>StarRating</th>
                <th>Content</th>
            </tr>
            {% for reviewInfo in results %}
                <tr>
                    <td>{{reviewInfo['reviewID']}}</td>
                    <td>{{reviewInfo['name']}}</td>
                    <td>{{reviewInfo['first_name'] + ' ' + reviewInfo['last_name']}}</td>
                    <td>{{reviewInfo['starRating']}}</td>
                    <td>{{reviewInfo['content']}}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>