{% from "macros/nav.html" import navbar %}

<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/design.css') }}">
        <title>Reviews Page</title>
    </head>
    <body>
        <h1>Indie Online Transaction Database UI</h1>
        {{ navbar() }}

        <h2>Reviews:</h2>
        <table>
            <tr>
                <th>ReviewID</th>
                <th>Game</th>
                <th>Customer</th>
                <th>StarRating</th>
                <th>Content</th>
            </tr>
            {% for reviewInfo in results %}
                <tr>
                    <td>{{reviewInfo['ReviewID']}}</td>
                    <td>{{reviewInfo['Game']}}</td>
                    <td>{{reviewInfo['Customer']}}</td>
                    <td>{{reviewInfo['StarRating']}}</td>
                    <td>{{reviewInfo['Content']}}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>