{% from "macros/nav.html" import navbar %}

<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/design.css') }}">
        <title>Home Page</title>
    </head>
    <body>
        <h1>Indie Online Transaction Database UI</h1>

        {{ navbar() }}

        <br>

        <div class="form">
            <form id="reset_form" method="POST" action="/reset">
                <input type="submit" value="Reset Database">
            </form>
        </div>
    </body>
</html>