{% from "macros/nav.html" import navbar %}

<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/saleOrders.css') }}">
        <title>SaleOrders Page</title>
    </head>
    <body>
        {{ navbar() }}

        <h1>SaleOrders:</h1>
        <table>
            <tr>
                <th>SaleOrderID</th>
                <th>CustomerID</th>
                <th>Date</th>
            </tr>
            {% for saleOrderInfo in results %}
                <tr>
                    <td>{{saleOrderInfo['saleOrderID']}}</td>
                    <td>{{saleOrderInfo['customerID']}}</td>
                    <td>{{saleOrderInfo['date']}}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>